// Sizes
$borderRadius: 0px;
$headerHeight: 100px;
$footerHeight: 100px;
$footerMobileHeight: 200px;

// Colors
$light: white;
$dark: #000000;
$borderColor: #cecece;
$textLightColor: $light;
$textDarkColor: #000000;
$textColor: #666666;
$btnDefault: $dark;
$btnHover: #7f7f7f;
$hrColor: #22222245;

$disabled: #666666;
$error: red;
$success: green;
$warning: orange;

// Theme
$themeBg: white;
